body {
    background: red;
    margin: 0;
}
div {
    box-sizing: border-box;
}
header {
    background: white;
    padding: 10px;
}
header h1 {
    margin: 0;
    margin-left: 35%;
}
div.post {
    background: white;
    margin-top: 20px;
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    
}
div.post img {
    width: 100%;
}


.post-header {
    border: 1px solid blue;
}
.sub-post-header{
    display: inline-block;
}
.sub-post-header2 {
    display: inline-block;
    margin-left: 55%;
}
div.post h2, div.post p {
    padding: 10px;
    margin: 0%;
}









